body {
	margin: 0;
	border: 0;
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: white;
}

/* header */

.header {
	font-size: 50px;
	font-weight: 500;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}

.banner img {
	width: 100%;
}

/*descripcion*/

.descripcion-parrafo {
	background-color: black;
	justify-content: center;
	padding: 10%;
	border: 0;
	margin: 0;
}

.container {
	width: 90%;
	display: flex;
	align-items: center;
	text-align: center;
}

.desc-text {
	text-align: center;
	padding: 20px;
}

.desc-img img {
	width: 100%;
}

/*iconos caracteristicas*/

.icon-section {
	background-color: #1E1A13;
	text-align: center;
	padding: 50px;
}

.icon-section h2 {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 1em;
}

.icon {
	display: inline-block;
	width: 30%;
}

.icon p {
	font-size: 24px;
	font-weight: 300;
}

/*galeria*/

.galeria {
	text-align: center;
	padding: 75px 0;
	display: flex;
	justify-content: space-evenly;
}

.imagen {
	width: 33%;
	vertical-align: middle;
}

.imagen img {
	width: 316px;
	height: 202px;
}

/*footer*/

footer {
	background-color: #1E1A13;
	text-align: center;
	margin: 0;
	padding: 10px;
	color: #ffffff;
}

footer a {
	text-decoration: none;
	color: white;
}